@import "tailwindcss";

@theme {
  --color-brand-50: #eef2ff;
  --color-brand-500: #6366f1;
  --color-brand-600: #4f46e5;
  --color-brand-900: #312e81;
  --color-dark-bg: #0f172a;
  --color-dark-card: #1e293b;
  --color-dark-border: #334155;
}

body {
  background-color: var(--color-dark-bg);
  color: #f8fafc;
}